<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Folder</title>
</head>
<body>
  <%- include("partials/errors.ejs") %>
  <% if (locals.errors) { %>
    <a href="/folder/1"><button>Go to root folder</button></a>
  <%} else {%>
    <h1><%= folder.name %></h1>
    <h2>Child Folders:</h2>
    <% folder.childFolders.forEach(function(childFolder) { %>
      <a href="/folder/<%= childFolder.id %>"><button><%= childFolder.name %></button></a>
    <%})%>
    <hr>
    <h2>Child Files:</h2>
    <% folder.childFiles.forEach(function(childFile) { %>
      <a href="/file/<%= childFile.id %>"><button><%= childFile.name %></button></a>
    <%})%>
    <hr>
    <a href="/folder/<%=folder.id%>/edit"><button>Rename Folder</button></a>
    <a href="/folder/create-folder?parentId=<%= folder.id %>"><button>Create new folder</button></a>
    <a href="/file/upload?parentId=<%= folder.id %>"><button>Upload file to this folder</button></a>
  <%}%>
  <hr>
  <a href="/"><button>Go Home</button></a>
  <% if (locals.folder) {%>
    <% if (folder.id != 1) { %>
      <a href="/folder/<%= folder.parentId %>"><button>Go to parent</button></a>
      <a href="/folder/1"><button>Go to root</button></a>
    <%}%>
  <%}%>
</body>
</html>